/* 
// *** *** *** Hero *** *** *** 
*/
.hero { 
    padding-block: 3rem;
    margin-bottom: 1rem;
    text-align: center; 
    background-image: url(../../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title { 
    margin-bottom: 0.6rem;
    font-size: 1.25rem; 
    font-weight: 800;
    color: var(--color-dark-desaturated-blue-text-and-cta-background);
}

.hero-text {
    width: 45%;
    margin-inline: auto;
    font-size: var(--font-size-text);
    font-weight: 600;
    color: var(--color-grayish-blue-text);
}

@media screen and (min-width: 1000px) {
    .hero { margin-bottom: 2.45rem; }
    .hero-title { font-size: 1.75rem; }
    .hero-text { font-size: calc(var(--font-size-text) + 0.15rem); }
}
